<div class="row">
    <div class="col col-md-2">
        <img src="/assets/images/logo_sm.png" />
    </div>
    <div class="col col-md-10">
        <h1>Orleans Chess Demo</h1>
    </div>
</div>
<div class="row">
<div class="col col-xs-6">
    <app-board [orientation]="boardOrientation" [size]="400" [boardId]="1"></app-board>
</div>
<div class="clearfix">
<div class="col col-xs-6">
    <app-board [orientation]="boardOrientation" [size]="400" [boardId]="2"></app-board>
</div>
</div>
<app-sources></app-sources>