<div class="row">
    <div class="col col-md-2">
        <img src="/assets/images/logo_sm.png" />
    </div>
    <div class="col col-md-10">
        <h1>Orleans Chess Demo</h1>
    </div>
</div>
<div class="row">
<div class="col col-xs-6">
    <app-board [orientation]="boardOrientation" [size]="400" [gameId]="'caa30adf-89ee-4be7-940e-6e7aa74e26a9'"></app-board>
</div>
<div class="clearfix">
<div class="col col-xs-6">
    <app-board [orientation]="boardOrientation" [size]="400" [gameId]="'e8d9d0c2-f54e-4309-98c5-b21bc40e10a1'"></app-board>
</div>
</div>
<app-sources></app-sources>